@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
}

main{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primeraParte{
    width: 30%;
    height: 100%;
    background-color: rgb(59,59,61);
    color: rgb(231,231,231);
    overflow: hidden;
}

.segundaParte{
    width: 70%;
    height: 100%;
    background-color: white;
    color: black;
}

.fotografia{
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.foto{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
}

hr{
    width: 80%;
    margin-left: 80px;
}

.titulo{
    margin-left: 80px;
    font-weight: bolder;
    text-transform: uppercase;
}
.contacto{
    width: 80%;
    margin-left: 80px;
}

.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.card i{
    font-size: 1.4rem;
    margin-top: 28px;
}

.texto{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}